<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bluejack22_1.GMoneysoLVer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GMoney.soLVer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TPAMobile"
        android:usesCleartextTraffic="true">
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.transaction.EditTransactionActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.transaction.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.budget.EditBudgetActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.budget.BudgetDetailActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.budget.AddBudgetActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.bill.EditBillActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.bill.AddBillActivity"
            android:exported="false" /> <!-- android:name=".activity.transaction.WriteNoteActivity" -->
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.transaction.SelectWalletActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.transaction.SelectCategoryActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.transaction.AddTransactionActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.wallet.EditWalletActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.wallet.WalletDetailActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.wallet.AddWalletActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.category.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.category.CategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.category.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.bill.BillDetailActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.utilities.ValidationBeforeUpdateActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.main.HomeActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.main.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.main.SignInActivity"
            android:exported="false" />
        <activity
            android:name="edu.bluejack22_1.GMoneysoLVer.activity.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="edu.bluejack22_1.GMoneysoLVer.utilities.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>